@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#detailedSearch:focus,
#detailedSearch:hover,
a,
a:hover {
    text-decoration: none
}

body {
    margin: 0;
    padding: 70px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #6b6e80;
    background: #fff;
    overflow-x: hidden;
}


.page-title,
.property-title h3,
.searched-itm .property-title h3 {
    font-family: 'Roboto', sans-serif
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #008b8b
}

::-webkit-selection {
    color: #fff;
    text-shadow: none;
    background: #008b8b
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #008b8b
}

a {
    color: #1f69a4
}

a:hover {
    color: #ec4446
}

input[type=text],
input[type=email],
select,
textarea {
    color: #333
}

input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
    color: #1f69a4;
    border-color: #bbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn,
.form-control {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.form-control:focus {
    color: #1f69a4;
    border-color: #bbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.clear-marg {
    margin: 0 !important
}

.btn-default {
    background-color: #1f69a4;
    border-color: #1f69a4;
    color: #fff
}

.btn-default.active,
.btn-default.dropdown-toggle,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    background-color: #ec4446 !important;
    border-color: #ec4446 !important;
    color: #fff !important
}

.btn-danger {
    background-color: #cd1317;
    border-color: #cd1317
}

.btn-danger.active,
.btn-danger.dropdown-toggle,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
    background-color: #1f69a4 !important;
    border-color: #1f69a4 !important;
    color: #fff !important
}

.navbar-default {
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-color: #fff
}

.navbar-default .navbar-nav > li > a {
    color: #656d78;
    font-size: 15px;
    text-shadow: none;
    padding: 30px 12px
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    background: url(/img/menu-arrow-up.png) center bottom no-repeat;
    color: #ec4446;
    text-decoration: none
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ec4446;
    background-color: transparent
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 400px
}

.navbar-default .navbar-header .logo {
    margin-top: 9px;
    margin-bottom: 9px;
    width: 250px
}

hr.customized-line {
    display: block;
    padding: 0;
    color: transparent;
    height: 0;
    background: 0 0;
    border: 0;
    border-bottom: solid 4px red;
    width: 100%;
    -webkit-box-shadow: 0 1px 3px 0 #636363;
    -moz-box-shadow: 0 1px 3px 0 #636363;
    box-shadow: 0 1px 3px 0 #636363
}

.languages {
    display: inline-block;
    padding-left: 20px
}

.languages .flag {
    border: 1px solid grey;
    padding: 1px;
    border-radius: 1px
}

#header {
    width: 100%;
    min-height: 250px;
    height: auto;
    padding-top: 45px;
    padding-bottom: 12px;
    position: relative;
    box-shadow: 0 0 3px 0 #000;
    z-index: 100
}

.search-title {
    border-bottom: 1px dashed grey
}

.search-footer {
    text-align: right
}

.det-search-link {
    display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
    line-height: 14px;
    float: right;
    margin-top: 4px
}

button.search-btn {
    float: right;
    margin-right: 17px
}

.box-kerkimi {
    padding: 10px 25px;
    background: rgba(255, 255, 255, .95)
}

#header.heading .box-kerkimi {
    margin-top: 20px;
    margin-bottom: 20px
}

.header-slide {
    background: url(/img/wallpaper_1.jpg) center center;
    background-size: cover
}

.vertical-absolute-btn {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 50;
    margin-top: -15px;
}

#content,
.property-container .middle-content,
.property-image {
    position: relative
}

.vertical-absolute-btn a {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
}

#content {
    width: 100%;
    padding: 10px 0 0;
    background: #f4f4f4;
    overflow: hidden;
}

.prop-sec-title {
    font-size: 16px;
    float: left;
    margin-top: 0;
    margin-bottom: 10px
}

.property-container {
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #eee
}

.property-content h3,
.property-title h3,
.property-content p {
    margin: 0;
    font-size: 13px;
    line-height: 14px;
    display: block
}

.property-image {
    overflow: hidden;
    max-height: 165px;
    min-height: 120px;
}

.property-image img {
    max-width: 100%;
    width: 100%;
    height: auto
}

.property-features {
    display: block;
    padding: 5px;
    background: #1f69a4;
    color: #fff;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px 0 grey;
    opacity: .87
}

.company-image img,
.sidebar .like-fb-page {
    overflow: hidden;
    box-shadow: 0 0 1px 0 grey
}

.property-features span {
    padding: 0 3px;
    font-size: 13px
}

.property-features .price {
    float: right
}

.property-title {
    padding: 8px;
    border-top: 1px solid #ec4446
}

.property-title h3 {
    font-weight: 700
}

.property-content {
    padding: 8px
}

.property-content h3 {
    font-weight: 600
}

.property-content h3 small,
.property-content p small {
    display: block;
    font-size: 12px;
    color: #383838
}

.pagination > li > a,
.pagination > li > span {
    color: #1f69a4;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 4px 8px
}

.pagination-div {
    text-align: center
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #1f69a4;
    border-color: #1f69a4
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    cursor: default
}

.sidebar .box-sidebar:after,
.sidebar .box-sidebar:before,
.sidebar .box:after,
.sidebar .box:before {
    content: "";
    display: table;
    clear: both
}

.sidebar .box-white {
    position: relative;
    padding: 1px 10px;
    background: #fff;
    margin-bottom: 10px !important;
    border-bottom: 2px solid #ddd
}

.sidebar .box-white::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-width: 25px;
    border-top: 25px solid #1f69a4;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 0 solid transparent
}

.sidebar .box,
.sidebar .box-sidebar {
    margin-bottom: 20px
}

.sidebar .box .box-header {
    margin-bottom: 5px
}

.sidebar .box .box-header h1,
.sidebar .box .box-header h2,
.sidebar .box .box-header p,
.sidebar .box .box-header h3 {
    color: #7f8c8d;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background-image: url(/img/widget_pixels.png);
    background-repeat: repeat-x;
    background-position: bottom center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 15px
}

.sidebar .like-fb-page {
    padding: 0
}

.sidebar .box ul {
    list-style-type: none
}

.sidebar .box ul > li {
    display: block;
    padding: 3px 0;
    margin-left: -40px
}

.sidebar .box ul > li h2,
.sidebar .box ul > li h4,
.sidebar .box ul > li h5 {
    font-size: 12px;
    margin: 0;
    line-height: 24px
}

.sidebar .box ul > li:first-child > a {
    padding-top: 0
}

.sidebar .box ul > li > a {
    display: inline;
    font-size: 12px
}

.sidebar .box-sidebar .list-check > li > a:hover:before {
    color: #1f69a4
}

.sidebar .box-sidebar .ad-img {
    width: 100%
}

#pre-footer {
    width: 100%;
    padding: 0 0 10px;
    background-color: #f4f4f4
}

.company-container {
    border-top: 2px solid #ec4446;
    background: -webkit-linear-gradient(#fff, #f4f4f4);
    background: -o-linear-gradient(#fff, #f4f4f4);
    background: -moz-linear-gradient(#fff, #f4f4f4);
    background: linear-gradient(#fff, #f4f4f4)
}

.company-image img {
    float: left;
    width: 174px;
    margin-right: 8px;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 1px solid grey;
    padding: 1px
}

.company-description {
    padding: 5px
}

.company-description p {
    display: block;
    font-size: 12px;
    color: #383838;
    line-height: 15px
}

.company-description h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 800
}

.company-description h3 small,
.posts h3 small {
    display: block;
    font-size: 12px;
    color: #383838
}

.posts {
    display: block;
    padding: 4px 5px 5px;
    border-top: 2px solid #ec4446;
    background: -webkit-linear-gradient(#fff, #f4f4f4);
    background: -o-linear-gradient(#fff, #f4f4f4);
    background: -moz-linear-gradient(#fff, #f4f4f4);
    background: linear-gradient(#fff, #f4f4f4);
    overflow: auto
}

.map-div h3,
.posts h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 17px;
}

.posts h3.author {
    text-align: right;
}

.posts .viewmore {
    font-size: 12px
}

.post-container {
    margin-bottom: 8px;
    position: relative;
    display: block
}

.posts .post-image {
    position: relative;
    float: left;
    display: inline;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 2px
}

.post-content {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px
}

.post-content > .post-date {
    display: block;
    padding-top: 0 !important;
    font-size: 11px;
    text-align: right;
}

.post-content > .heading-title h2,
.post-content > .heading-title h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    text-transform: none;
    border: none
}

.post-content > .heading-title p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    text-transform: none;
    border: none
}

.post-description .author {
    margin: 0;
}

.post-content > .heading-title h2 span,
.post-content > .heading-title h3 span {
    font-weight: 800;
    font-size: 16px
}

.post-content > .heading-title {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px
}

.post-content > .heading-title h2::before,
.post-content > .heading-title h3::before {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: 0;
    margin-left: -15px;
    background: #f4f4f4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.post-content > .heading-title h2::after,
.post-content > .heading-title h3::after {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: 0;
    margin-left: 0;
    background: 0 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

#footer {
    width: 100%;
    padding: 10px 0 0;
    background-color: #0f101a;
    box-shadow: -1px 0 2px 0 #000
}

.map-div,
.subscribe {
    background: -webkit-linear-gradient(#fff, #f4f4f4);
    background: -o-linear-gradient(#fff, #f4f4f4);
    background: -moz-linear-gradient(#fff, #f4f4f4)
}

.bottomPart .box:after,
.bottomPart .box:before {
    content: "";
    display: table;
    clear: both
}

.bottomPart .box {
    margin-bottom: 10px
}

.bottomPart .box h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
    color: #d9dae9;
    margin-bottom: 10px
}

#propertyLinks .linksTitle,
.bottomPart .box h3,
.bottomPart .box p {
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 10px
}

.bottomPart .box h3,
.bottomPart .box p {
    font-size: 16px;
    font-weight: 800;
    color: #d9dae9
}

.bottomPart .box ul,
.bottomPart .box > ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0
}

.bottomPart .box ul > li,
.bottomPart .box ul > li > h5 > a.bottomPart .box ul > li > h5,
.bottomPart .box > ul > li,
.bottomPart .box > ul > li > h5,
.bottomPart .box > ul > li > h5 > a {
    display: block;
    padding: 0;
    font-size: 12px;
    color: #898ba2;
    font-weight: 200
}

.bottomPart .box ul > li > a:focus,
.bottomPart .box ul > li > a:hover,
.bottomPart .box > ul > li > a:focus,
.bottomPart .box > ul > li > a:hover {
    color: #ec4446
}

#propertyLinks {
    margin-bottom: 20px;
}

#propertyLinks .linksTitle {
    color: #898ba2;
    border-bottom: 1px dashed #ddd;
    font-size: 16px;
    font-weight: 800
}

#propertyLinks .box,
.noMargBtm {
    margin-bottom: 0
}

#propertyLinks .box li {
    color: #898ba2
}

.copyright {
    position: relative;
    margin-top: 30px;
    padding: 15px 0 10px;
    text-align: center;
    border-top: 1px solid #2c3e50;
    font-size: 12px
}

.dashed-h3,
.subscribe h3 {
    font-size: 16px;
    line-height: 17px
}

.copyright .scroltop {
    position: absolute;
    left: 50%;
    top: -18px;
    margin-left: -18px
}

.network ul li {
    padding-right: 10px !important;
    float: left
}

.dashed-h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed grey
}

.map-div {
    margin-top: 10px;
    border-bottom: 2px solid #ec4446;
    border-top: 2px solid #ddd;
    display: block;
    background: linear-gradient(#fff, #f4f4f4)
}

.map-div h2,
.map-div h3 {
    padding: 5px
}

#map {
    border: 1px dashed #ddd;
    width: 100%;
    height: 500px
}

.single-map {
    margin-bottom: 10px
}

.subscribe {
    margin-top: 11px;
    padding: 0 5px 15px;
    background: linear-gradient(#fff, #f4f4f4)
}

.subscribe h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 5px 5px 0
}

.subscribe p {
    font-size: 13px;
    line-height: 15px
}

.subscribe ul {
    margin-bottom: 0;
    color: #ec4446 !important
}

.custom-search {
    margin-top: 45px;
    padding: 0;
    background: transparent;
    height: auto !important;
}

.custom-search h3 {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 17px;
    padding: 0;
}

.custom-search .csearch {
    align-items: center;
}

input.gsc-input {
    z-index: 1000 !important;
}

.cse .gsc-search-button-v2, .gsc-search-button-v2 {
    padding: 10px 20px !important;
    height: 35px !important;
    margin: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border: none !important;
}

.gsc-control-cse {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
}

input.gsc-search-button {
    padding: 0px !important;
    margin-left: -6px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    color: #fff !important;
}

input.gsc-input {
    font-size: 11px;
    line-height: 18px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

td.gsc-input {
    padding-right: 0px !important;
}

.pagination {
    margin: 10px 0
}

.prop-sec-title a.btn-title {
    border-radius: 0
}

.btn-jeshil {
    background: #94c679;
    border-color: #94c679
}

.btn-darkcyan {
    background: #008b8b;
    border-color: #008b8b
}

.btn-yellow {
    background: #d6c704;
    border-color: #d6c704
}

.social-media .social {
    margin-bottom: 8px
}

.sitemap {
    font-style: italic
}

.network li h6 {
    margin-bottom: 0
}

.module-title {
    color: #d23435
}

.single-property {
    margin-bottom: 10px
}

.single-property .p-title h1 {
    font-size: 20px;
    color: #5488b8;
    margin-top: 0;
    margin-bottom: 20px
}

.single-property .contactForm label,
.single-property table.infotable tr td:first-child {
    color: #1f69a4
}

.single-property .tab-content {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none
}

.single-property .p-text p {
    margin-bottom: 5px
}

.single-property .contactForm {
    padding: 12px 5px 5px;
    background: -webkit-linear-gradient(#f4f4f4, #fff);
    background: -o-linear-gradient(#f4f4f4, #fff);
    background: -moz-linear-gradient(#f4f4f4, #fff);
    background: linear-gradient(#f4f4f4, #fff);
    margin-bottom: 7px
}

.single-property .contacts {
    padding-top: 10px;
    margin-bottom: 7px;
    background: -webkit-linear-gradient(#f4f4f4, #fff);
    background: -o-linear-gradient(#f4f4f4, #fff);
    background: -moz-linear-gradient(#f4f4f4, #fff);
    background: linear-gradient(#f4f4f4, #fff)
}

.single-property .contacts img.comp-img {
    width: 80%;
    margin: auto 10% 5px;
    padding: 1px;
    border: 1px solid grey
}

.single-property .bottomItem {
    border-top: 1px solid #ec4446 !important
}

.single-property table.infotable {
    margin-bottom: 5px !important
}

.single-property .p-text,
.single-property .property-images {
    margin-bottom: 15px
}

.single-property .share-section {
    border-top: 1px dashed #ec4446;
    padding: 5px 0;
    text-align: right
}

#error404 .error-text,
.breadcrumb {
    text-align: center;
}

.single-property .property-images .img-item {
    max-height: 120px;
}

.single-property .property-images .p-image {
    border-radius: 1px;
    border: 1px solid grey;
    padding: 1px;
}

.single-property .property-images .main-image {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center !important;
    background-size: cover !important;
}

.single-property .property-images .main-image #previous-div {
    height: 100%;
    background: -webkit-linear-gradient(to right, rgba(128, 128, 128, .3), transparent);
    background: -o-linear-gradient(to right, rgba(128, 128, 128, .3), transparent);
    background: -moz-linear-gradient(to right, rgba(128, 128, 128, .3), transparent);
    background: linear-gradient(to right, rgba(128, 128, 128, .3), transparent);
    width: 15%;
    cursor: pointer;
    display: none
}

.single-property .property-images .main-image #next-div {
    height: 100%;
    background: -webkit-linear-gradient(to right, transparent, rgba(128, 128, 128, .3));
    background: -o-linear-gradient(to right, transparent, rgba(128, 128, 128, .3));
    background: -moz-linear-gradient(to right, transparent, rgba(128, 128, 128, .3));
    background: linear-gradient(to right, transparent, rgba(128, 128, 128, .3));
    width: 15%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0
}

.single-property .property-images .main-image .previous-image {
    position: absolute;
    left: 0;
    top: 50%;
    height: 30px;
    margin-top: -15px
}

.single-property .property-images .main-image .next-image {
    position: absolute;
    right: 0;
    top: 50%;
    height: 30px;
    margin-top: -15px
}

.single-property .property-images .p-main-img {
    width: 100%;
    height: 450px;
    overflow-y: hidden
}

.single-property .property-images .additional-images {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px
}

.single-property .property-images .additional-images .add-image {
    width: 100%;
    cursor: pointer
}

.single-property .property-images .additional-images .img-item {
    margin-top: 5px;
    display: inline-block;
    margin-right: 2px;
    overflow: hidden;
    /*width: auto !important;*/
}

.single-property .property-images .additional-images .img-item:focus {
    box-shadow: 0 0 3px 0 #ec4446 !important;
    border: 1px solid #ec4446 !important;
    opacity: .8;
    outline-color: #ec4446 !important
}

.single-property .property-images .additional-images .img-item img {
    height: 80px;
    width: auto;
}

.single-property .property-mainImage .main-image {
    width: 100%;
    height: 315px;
    overflow-y: hidden;
    box-shadow: 0 0 3px 0 #1f69a4;
    margin-bottom: 15px
}

.slick-next:before,
.slick-prev:before {
    color: #ec4446
}

.slick-next::before {
    content: "\2192"
}

.slick-prev:before {
    content: '\2190'
}

h2.module-title,
h3.module-title,
h4.module-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 800
}

.blue-title {
    color: #1f69a4
}

.breadcrumb {
    padding: 5px 0;
    margin-bottom: 0;
    list-style: none;
    color: #000;
    font-size: 14px;
    margin-top: 20px;
}

.breadcrumb > .active {
    color: #ce1417
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #000;
    content: "\000BB"
}

.about h1,
.about h2,
.about h3 {
    font-size: 20px;
    color: #5488b8;
    margin-top: 0;
    margin-bottom: 20px
}

.about .about-text img.comp-img {
    width: 50%;
    float: left;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 1px;
    margin-right: 10px;
    margin-bottom: 2px
}

.about .tab-content {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 10px
}

.about .about-text {
    line-height: 18px
}

.about .about-text img.contact-company {
    float: right;
    margin-right: 0;
    margin-left: 10px;
    width: 31%
}

.about .about-text .contacts {
    margin: 15px 0
}

#error404 .error-text h1,
#error404 a.btn,
.about .about-text .contacts .value {
    margin-bottom: 10px
}

.about .about-text .contacts .param {
    color: #1f69a4;
    margin-bottom: 10px
}

.about address {
    border-top: 2px solid red;
    padding-top: 5px
}

.contact-form .form-control {
    border: 1px solid #1364a0
}

#error404 .error-text h1 {
    color: #ec4446;
    background-image: url(/img/widget_pixels.png);
    background-repeat: repeat-x;
    background-position: bottom center;
    margin-top: 10px;
    padding-bottom: 20px
}

.searched-itm .property-title h3 {
    font-size: 14px !important;
    line-height: 15px;
    font-weight: 500
}

.searched-itm .property-content h3 small,
.searched-itm .property-content p small {
    font-size: 13px
}

.page-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 600
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: .8
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0
}

.m-0 {
    margin: 0 !important;
}

.error {
    color: darkred;
}

@media screen and (min-width: 992px) {
    .noPadRight {
        padding-right: 0 !important
    }

    .noPadLeft {
        padding-left: 0 !important
    }

    .imgHeight {
        height: 340px;
    }

    .posts,
    .subscribe {
        border-top-left-radius: 5px
    }

    .company-container,
    .map-div,
    .reviews {
        border-top-right-radius: 5px
    }

    .mfp-arrow-left {
        left: 20% !important
    }

    .mfp-arrow-right {
        right: 20% !important
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar-default {
        text-align: center
    }

    .navbar-collapse,
    .navbar-header {
        float: none
    }

    .navbar-nav {
        float: none !important
    }

    .navbar-default .navbar-nav > li {
        float: none;
        display: inline
    }

    .navbar-default .navbar-nav > li > a {
        display: inline;
        height: 30px;
        font-size: 13px;
        padding: 5px 9px !important
    }

    #header {
        padding-top: 50px
    }

    .single-property .contactForm .btn-default {
        margin-top: -16px !important
    }
}

@media screen and (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: -10px
    }

    .languages li {
        display: inline-block
    }
}

@media screen and (max-width: 767px) {

    .navbar,
    .navbar-header {
        min-height: 80px
    }

    .copyright,
    .logo-footer {
        text-align: center
    }

    .navbar-default .navbar-header .logo {
        width: 200px
    }

    .navbar-default .navbar-toggle {
        margin-top: 22px
    }

    .languages {
        float: right;
        margin-right: 5px;
        margin-top: 15px
    }

    .navbar-collapse {
        border-top-color: #428bca !important
    }

    .navbar-default .navbar-nav > li > a {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px
    }

    .navbar-default .navbar-nav > .active > a::after {
        content: "";
        display: none
    }

    #header {
        width: 100%;
        min-height: 350px;
        padding-top: 50px;
        padding-bottom: 40px;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -ms-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        background-attachment: fixed;
        background-position: center 0;
        background-repeat: no-repeat
    }

    .copyright {
        position: relative;
        margin-top: 40px;
        padding: 35px 0;
        border-top: 1px solid #2c3e50
    }

    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover {
        background: 0 0;
        color: #ec4446;
        text-decoration: none
    }

    .single-property .property-images .p-main-img {
        height: 250px !important
    }

    .single-property .property-images .main-image .next-image,
    .single-property .property-images .main-image .previous-image {
        height: 20px;
        margin-top: -10px
    }

    .moreBtn,
    .single-property .contactForm {
        margin-bottom: 10px
    }

    .about .about-text img,
    .about .about-text img.contact-company {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }
}

@media screen and (max-width: 480px) {
    #slider-property .carousel-indicators {
        display: none
    }
}

.europrice {
    position: absolute;
    top: 0;
    right: -10px
}

#mapinside {
    border: 1px dashed #ddd;
    width: 100%;
    height: 300px
}

#next-div,
#previous-div {
    display: none !important
}

.prop-sec-title.listing-category {
    width: 100%
}

.prop-sec-title.listing-category a.btn-title {
    width: 100%;
    font-size: 12px
}

.five_columns_template .col-md-12.propertylist {
    width: 100%;
    min-height: 270px
}

.positionrelativehome {
    position: relative;
}

.fixed_home_block_property {
    position: fixed;
    top: 85px;
    z-index: 999;
    background: #f4f4f4;
    width: 243px
}

.subscribeemail {
    width: 70%;
    float: left
}

.subscribe-btn {
    float: right;
    width: 25% !important;
    margin-right: 3%
}

.prop-sec-title.insidecategory {
    width: 100%;
    margin-left: 15px
}

.cursordefault {
    cursor: default
}

.propertylist,
.propertylistsimilar {
    float: left;
    width: 24.666%
}

.propertylist:nth-of-type(4n+2),
.propertylistsimilar:nth-of-type(4n+3) {
    clear: both
}

#google_translate_element {
    position: absolute;
    background: #fff;
    padding: 20px
}

.single-prop-content {
    padding-top: 45px !important;
}

@media (min-width: 992px) {
    .col-md-2.col-md-20 {
        width: 24.666667%
    }

    .positionrelativehome {
        min-height: 345px !important;
    }
}

@media (max-width: 992px) {
    #header {
        margin-top: 20px;
    }

    .single-prop-content {
        padding-top: 70px !important;
    }
}

@media (max-width: 768px) {
    .single-prop-content {
        padding-top: 45px !important;
    }
}

@media (max-width: 776px) {
    .property-image {
        max-height: none;
    }

    .propertylist,
    .propertylistsimilar {
        float: left;
        width: 100%
    }

    #google_translate_element {
        right: 0
    }
}

@media screen and (max-width: 600px) {
    #toprightnav {
        padding-left: 3%;
    }
}

@media screen and (min-width: 600px) {
    #toprightnav {
        padding-left: 15%;
    }
}

@media screen and (max-width: 399px) {
    .single-prop-content {
        padding-top: 70px !important;
    }
}

/* Registration Page */

.register h1, .register p {
    font-family: 'Roboto', sans-serif;
    width: 740px;
    font-weight: 400
}

.pp, .yy {
    overflow: hidden
}

.register {
    width: 740px;
    float: left
}

.register p {
    font-size: 14px;
    color: #C30
}

.register h1 {
    font-size: 10px;
    color: #000
}

.xx {
    border-width: 0;
    width: 600px;
    padding: 5px 5px 10px;
    background: #F7F7F7
}

.yy {
    width: 740px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 2%
}

.yy .zz {
    width: 220px;
    font: 700 24px Arial;
    float: left
}

.yy .disabledzz {
    color: #C4C4C4
}

.yy .zz .vog {
    font-size: 13px;
    font-weight: 400
}

.pp {
    width: 550px;
    text-align: center;
    margin-top: 1em
}

.pp .prev, div.pp .next {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    background: #8b0000;
    color: #fff;
    cursor: pointer;
    margin-left: 10%
}

.test_1 {
    width: 100%;
    display: block;
    background: #F7F7F7;
    border-top: 1px solid #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
    padding: 10px 0
}

.test_1 span {
    display: block;
    color: #7D7D7D;
    font-size: 13px;
    float: left;
    width: 230px;
    text-align: right;
    padding: 12px 20px 0 0
}


#button {
    margin: 0 0 10px;
    color: #FFF;
    font-size: 12px;
    padding: 4px 7px;
    background: #001A82;
    border: 0;
    position: relative;
    top: 10px;
    left: 382px;
    width: 200px;
    border-bottom: 1px double #001A82;
    border-top: 1px double #001A82;
    border-left: 1px double #001A82;
    border-right: 1px double #001A82
}

.clear {
    background: #F7F7F7
}

.prevbutton {
    margin-left: 10%
}

@media screen and (max-width: 800px) {
    .yy {
        width: 400px
    }
}

#google_translate_element {
    position: absolute;
    background: #fff;
    padding: 20px
}

/* Spacing */

.p-0 {
    padding: 0 !important;
}

.anchor {
    cursor: pointer;
}

/* Map tooltip-property */

.gm-style .gm-style-iw-d {
    overflow: auto !important;
}

.gm-style .gm-style-iw-c {
    border-radius: 2px;
    padding: 6px !important;
    max-width: 450px !important;
}

.tooltip-on-map {
    display: flex;
}

.tooltip-on-map .tooltip-property-image {
    width: 120px;
    height: auto;
    float: left;
    margin-right: 10px;
    max-height: 100px;
}

.tooltip-on-map .tooltip-property-body {
    flex: 1;
}

.tooltip-on-map .tooltip-property-title {
    margin-bottom: 5px;
    font-weight: bold;
}

.tooltip-on-map .tooltip-property-type {
    margin-bottom: 5px;
}

.tooltip-on-map .tooltip-property-area {
    margin-bottom: 5px;
}

.tooltip-on-map .tooltip-property-price {
    margin-bottom: 5px;
}

.whtsapp-button-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    position: fixed;
    z-index: 200000;
    text-align: center;
    overflow: hidden;
    padding-right: 10px;
    right: 10px;
    bottom: 10px;
    padding-bottom: 10px
}

.whtsapp-button-wrapper .whatsapp-btn {
    background-color: #4dc247;
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    text-align: center;
    line-height: 50px;
    color: white;
}

.twitter-button {
    padding: 4px 10px;
    background-color: #1b95e0;
    font-size: 11px;
    border: 0;
    margin-bottom: 8px;
}

.border-0 {
    border: 0 !important;
}